###########################################
# Add the following lines to your 
# terraform.tfvars for your GKE Module
###########################################
project_id = "${project_id}"
###########################################